---
import Layout from '../layouts/Layout.astro'
import Title from '../components/Title.astro'
import Books from '../components/Books.astro'
---

<Layout title='Recommended books'>
  <main class='m-auto max-w-4xl'>
    <Title />
    <Books />
  </main>
</Layout>
